<%- include("../partials/profile_header")  %> 
<div>
    <div class="card" style="width: 80rem; height: 35rem; margin: auto; margin-top: 60px; background-color: rgb(220, 220, 220); display: flex; flex-direction: row; align-items: center;">
        <img src="https://res.cloudinary.com/glide/image/fetch/f_auto,w_975,h_975,c_lfill/https%3A%2F%2Fstorage.googleapis.com%2Fglide-prod.appspot.com%2Fuploads-v2%2FFEr6MoVRCVxLM3jJHdZ9%2Fpub%2F7P128Fr6BzYk96wNwDLc.png" width="120" height="120"
        style="display: block; background-color: transparent; border-radius: 50%; margin: auto; margin-left: 20px;">
        <div class="card-body">
            <h5 class="card-title">Maxwell Knowles</h5>
            <h6 class="card-subtitle mb-2 text-muted">Sterling</h6>
        </div>
        <div>
            <h3 class="card-title">Details</h3>
        </div>
    </div>
</div>
<%- include("../partials/footer")  %> 